<div class="jumbotron text-center">
  <h1>Travel Angular App</h1>
  <p class="lead">Welcome to a MEAN 2.0 Application!</p>
  <div>
    <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
    <a [routerLink]="['/login']" class="btn btn-default">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A Node.JS/Express server using mLab MongoDB to organize models and query the database for user info.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular 2</h3>
    <p>A front-end developed entirely on Angular 2 using Angular-CLI and Twitter-Bootstrap for responsive design.</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Auth</h3>
    <p>Full featured authentication using JSON web tokens. Login and store user data.</p>
  </div>
</div>
